<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>openai</key>
	<string>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</string>
	<key>API_KEY</key>
	<string>51790403d0d2987674c951f8acfd3325</string>
</dict>
</plist>
